/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 7:30:02 AM
    Author     : pckhien
*/

.title-action{
    color: #1392e9;
    font-weight: bold;
    text-align: center;  
    font-size: 24px;
}
.line-buttom {
    border-bottom: 2px solid #00A65A;
    clear: both;
    padding-bottom: 10px;
}
.border-butom{
    border-bottom: 2px solid #00A65A;
}
.div-content50{
    padding-top: 20px;
    margin: 0 auto;
    width: 50%;
}
.div-content100{
    padding-top: 20px;
    margin: 0 auto;

}
.first-tr{
    font-weight: bold;
}
.hr{
    color: red;
}
.pagination-current-pagecount{
    background-color: #00A65A !important;
    color: white !important;
}
.text-overflow{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.float-left{
    float:left !important;
}
.float-right{
    float:right !important;
}
.clear-float{
    clear: both;
}
.text-middle{
    vertical-align: middle !important;
}
.div-content-left{
    padding-top: 10px;
    width: 50%;
    float:left;
    padding-right: 20px;
}
.div-content-right{
    border-left: 5px #00A65A solid;
    padding-top: 10px;
    width: 50%;
    float:left;
    padding-left: 20px;

}
.div-content-100{
    padding-top: 10px;
    width: 100%;
    float:left;

}
.rowsp{
    margin-top: 5px;
    vertical-align: middle !important;
}
.line-height34{
    float:left;
}